@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font-default: Verdana, Geneva, Tahoma, sans-serif;
    --font-passion: "Passion One", sans-serif;
    --font-sriracha: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: darkgrey;
    font-family: var(--font-default);
    min-height: 100vh;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}

header h1 {
    font-family: var(--font-passion);
    font-size: 4.5vw;
    font-variant: small-caps;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font-sriracha);
    font-size: 1.5vw;
    line-height: 2em;
    padding: 10vh 0 10vh 30px;
}

section:first-of-type {
    p:nth-of-type(7) {
        padding: 0;
    }
}

.normal p:nth-of-type(7) {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-attachment: fixed;
    background-color: rgb(51, 51, 51);
    background-size: cover;
    box-shadow: inset 6px 6px 8px 0 rgba(0, 0, 0, .5);
    color: white;
}

.imagem>p {
    background: linear-gradient(90deg, rgb(86, 86, 86), rgb(26, 26, 26) 0%, transparent 30%);
    padding: 5px 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.img1 {
    background-image: url('../img/cherries.jpg');
}

.img2 {
    background-image: url('../img/pen.jpg');
}

footer {
    padding: 10px;
}

/* testando */